*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    width: 100%;
    height:100%;
}

#main{
    display: flex;
    width: 100%;
    height: 100%;
    background: rgb(83,118,190);
background: linear-gradient(90deg, rgba(83,118,190,1) 0%, rgba(26,210,186,1) 46%);
    /* background-color: aqua */
}
#leftcontainer{
  position: relative;
    width: 40%;
    height: 100%;
    /* background-color: rgb(162, 162, 224); */
}
#rightconatainer{
    width: 60%;
    height: 100%;
    background-color: rgb(17, 211, 211);
}
#right_top{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: rgb(165, 165, 22);
}
#right_bottom{
    width: 100%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1709884735017-114f4a31f944?q=80&w=1858&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: bottom;
}
#rleft{
    width: 55%;
    height: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1661851197851-a79c667276a3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}
#rright{
    width: 45%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1725979706616-75ed4c4e9ae1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: right;
}
#lnav{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#lnavr a{
margin-right: 20px;
text-decoration: none;
font-weight: 600;
font-size: 14px;
}
#lnavr i {
    color: blue;
}
#lnavr {
    display: flex;
    align-items: center;
}

#leftcontainer #textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#textcenter h1{
    font-size: 70px;
    font-weight: 800;
}
#textcenter p{
    opacity: .6;
    font-size: 13px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#textcenter a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    opacity: .6;
}


@media(max-width:502px){
    #main{
        flex-direction: column
    }
    #leftcontainer{
        width: 100%;
    }
    #rightconatainer{
        width: 100%;
    }
}